.wrapper {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 3px solid var(--yellow-theme-main-color);


  h2 {
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 0.5rem;
    line-height: 2rem;
    color: var(--yellow-theme-main-color);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  span {
    font-size: 80px;

    svg {
      color: var(--yellow-theme-main-color);

    }
  }
}


@media only screen and (max-width : 600px) {
  .wrapper {
    h2 {
      font-size: 32px;
    }

    span {
      font-size: 18px;
    }
  }
}