.navbar {
  background-color: rebeccapurple;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.4rem;
  position: sticky;
  top: 0;
  z-index: 100;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: inherit;
    padding: 0 20px;

    &__heading {
      color: var(--yellow-theme-main-color);
      cursor: pointer;
      font-size: 30px;
      margin-left: 40px;
    }

    &__menu {
      display: flex;
      list-style: none;
      text-align: center;
      margin-right: 30px;

      &__item {
        font-size: 20px;
        line-height: 40px;
        margin-right: 1.5rem;
        position: relative;

        &::after {
          content: '';
          display: block;
          height: 4px;
          width: 0;
          margin-top: 5px;
          background: transparent;
          transition: all 0.3s ease;
        }

        &:hover::after {
          width: 100%;
          background: var(--yellow-theme-main-color);
        }

        &__links {
          color: var(--yellow-theme-main-color);
          text-decoration: none;
          padding: 0.5rem;
        }
      }
    }
  }
}

.nav_icons {
  display: none;
}





// now we use the media quary to manage or aap to display mobile

@media only screen and (max-width: 768px) {
  .navbar {
    height: 60px;
  }

  .navbar__container__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 60px;
    left: -110%;
    opacity: 0;
    visibility: hidden;
    background-color: #181818;
    border-top: 1.5px solid white;
    transition: all 0.5s ease;
    z-index: 999;

    &.active {
      left: 0;
      opacity: 1;
      visibility: visible;
      overflow-y: auto;
    }

    &__item {
      font-size: 24px;
      border-bottom: 2px solid gray;
      margin: 0;
      padding: 12px 0;
      width: 100%;
      text-align: center;

      &__links {
        width: 100%;
        display: block;
        color: var(--yellow-theme-main-color);
      }
    }
  }

  .navbar__container__heading {
    font-size: 24px;
    margin-left: 0;
    color: rosybrown;
  }

  .nav_icons {
    display: block;
    cursor: pointer;
    color: var(--yellow-theme-main-color);
    padding: 20px;
    z-index: 1000;
  }
}
